.footer {
    width: 100%;
    background-color: $colorprincipal;
    color: white;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    bottom: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-areas: "redes contacto copyr";
    @include mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;}
    .redes_footer {grid-area: redes;
    @include mobile {margin: 0.5rem;}
        a .bi {
            text-decoration: none;
            color: white;         
     }
        a .bi:hover {color: black;
        transition: 1s;}
    
    }
    .contacto_footer {
        grid-area: contacto;
        & a {
            text-decoration: none;
            color: white;
        }
        & a:hover {
            text-decoration: underline;
            color: black;
            transition: 1s;
            
        }
        @include mobile {margin: 0.5rem;}
    }
    .copyr_footer {grid-area: copyr;
        @include mobile {margin: 0.5rem;}
    }
    

}           

.footer > div {
    display: flex;
    justify-content: center;
}















