@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

    


img {
    display: block;
    max-width: 100%;
}

body { 
    background-image:url(../imgs/fondo-pagina4.png); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Montserrat', sans-serif;}

h1 {font-size: 3rem;}

/* NAV */

.fondo-verde {
    background-color: #078a12;
}

.active {text-decoration: underline double;}



.navbar-nav a:hover { 
    text-decoration: underline double;
    color: black;
}



/* CUERPO */
 
.cartita {
    background-color: rgba(128, 128, 128, 0.493);
     border: 2px solid gray;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    
    border-radius: 1rem;
    margin: 1rem;
    
}

.cartita h1 {
    align-items: center; 
    font-size: 3rem; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    margin-inline: 1rem;
}

.cartita p {
    text-align: center; 
    justify-content: center;
    padding: 1rem; 
    width: 80%; 
    font-size: 1.5rem; 
    margin: 1rem;

}

.cartita_saber {
    border-radius: 1rem; 
    padding: 1rem; 
    margin: 2rem; 
    font-size: 1.5rem;
    font-weight: 600;
}

.cartita_comienza {
    background-color: rgba(95, 95, 95, 0.658); 
    border-radius: 1rem; 
    padding: 1rem; 
    margin: 1rem 0.5rem 0rem 2rem; 
    font-size: 1.5rem;
    font-weight: 600;
} 

.cartita_imagen {
    margin: 0.5rem; 
    width: 400px;
    border-radius: 1rem;
    display: block;
    max-width: 100%;  
}


.columna2 {
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    
    border-radius: 1rem;
    width: 100%;
    
    
}

.columna1 {
    border-radius: 1rem;
    
    ;display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

/* FOOTER */

.footer {
    background-color: #078a12;
    color: white;
    position: static;
    width: 100%;
    
    padding-block: 1rem;
    flex-wrap: wrap;
    bottom: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-areas: "redes contacto copyr"

                         
}           

.footer > div {
    display: flex;
    justify-content: center;
}

.redes_footer {grid-area: redes;
        }

.contacto_footer {
    grid-area: contacto;
    
}

.contacto_footer a {
    text-decoration: none;
    color: white;
}

.contacto_footer a:hover {
    text-decoration: underline;
    color: black;
}

.copyr_footer {grid-area: copyr;}

.bi {font-size:1.5rem;
     padding-inline: 0.5rem;         
}

a .bi {
       text-decoration: none;
       color: white;         
}

a .bi:hover {color: black;}


/* quienes somos */

.quienes_somos {
    background-color: rgba(128, 128, 128, 0.493);
     border: 2px solid gray;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    
    border-radius: 1rem;
    margin: 1rem;
    
}

.titulo_quienes {margin: 1rem;}

.video_quienes {
    border: 3px solid #00fa15;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.parrafo_quienes {
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}


/* PREGUNTAS FRECUENTES */

.preguntas_frecuentes { 
    background-color: rgba(128, 128, 128, 0.493);
    border: 2px solid gray;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem;
    
    padding: 1rem;

}

.preguntas_titulo {
    
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    

}

.preguntas_frecuentes h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.preguntas_frecuentes p {
    padding-inline: 1rem;
    margin-bottom: 3rem;
} 

/* COMO CONTACTARNOS */

.contacto {
    background-color: rgba(128, 128, 128, 0.493);
    border: 2px solid gray;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem;
    
    padding: 1rem;
    align-items: center;
    display: flex;
    
}

.contacto_titulo { 
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

#nombre {padding: 0.3rem; border-radius: 0.3rem; display: block; align-items: center; }

#email {padding: 0.3rem; border-radius: 0.3rem; display: block; align-items: center; }

#areatexto {padding: 0.3rem; border-radius: 0.3rem; display: block; align-items: center; }

#numero {padding: 0.3rem; border-radius: 0.3rem; display: block; align-items: center; }

.emaildiv {padding: 1rem; }

.numerodiv {padding: 1rem; }

.textdiv {padding: 1rem; }

.nombrediv {padding: 1rem;}

.botondiv {padding: 1rem;}

.enviar {padding: 0.7rem; margin-right: 1rem ;border-radius: 0.3rem; background-color:#078a12; color: white; font-weight: 600;}

.borrar {padding: 0.7rem; border-radius: 0.3rem; font-weight: 600;}

.formulario {align-items: center; display: flex; }

/* SERVICIOS */

.servicios { 
    background-color: rgba(128, 128, 128, 0.493);
    border: 2px solid gray;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem;
    
    padding: 1rem;

}

.servicios_titulo {
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.servicios h2 { 
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.servicios p {
    padding-inline: 1rem;
    margin-bottom: 3rem;
}

/* celular */

@media screen and (max-width: 960px){
    
    /* index mobile */
    .body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
        text-align: center;
      }
    
      .cartita {
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .cartita h1 {
        align-items: center; 
        font-size: 2.5rem; 
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        margin: 0rem;
        width: 100%;
    }

    .cartita_saber {
        font-size: 1rem;
    }
    
    .cartita_comienza {
        font-size: 1rem;
    }
        /* quienes somos mobile */

    .quienes_somos {
            
            display:flex;
            justify-content:center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0rem;
            
        } 

    .parrafo_quienes {text-align: start;}

    /* servicios mobile */

    .servicios {display:flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0rem;}

        /*preguntas frecuentes mobile*/

    .preguntas_frecuentes {display:flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0rem;}

        /* contactanos mobile */

    .contacto {display:flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0rem;}
    
     

}

@media screen and (max-width: 600px) { 
  .body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    text-align: center;
  }

  .cartita {
            flex-direction: column;
            flex-wrap: wrap;
            flex: 1;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

.cartita_saber {
            font-size: 1rem;
        }

        .cartita_comienza {
            font-size: 1rem;
        }

        .columna1 {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .cartita h1 {
            align-items: center; 
            font-size: 2rem; 
            text-align: center; 
            font-family: 'Montserrat', sans-serif;
            margin: 0rem;
            width: 100%;
            padding-top: 1rem;
        }

        /* QUIENES SOMOS MOBILE */
        
        .cartita P {font-size: 1.2rem;}

        .video_quienes {width: 100%;}  

        .parrafo_quienes {
            width: 100%;
            text-align: start;
        }

        /* servicios mobile */

        



        /* footer mobile */

        .footer {
            display: flex;
            flex-wrap: wrap;
            
        }

        .redes_footer {margin: 0.5rem;}

        .contacto_footer {margin: 0.5rem;}

        .copyr_footer {margin: 0.5rem;}

        
        
}







